[user]
	name = Romir Patel
	email = romirpatel308@gmail.com
[credential]
	helper = "!f() { /root/.vscode-server/bin/863d2581ecda6849923a2118d93a088b0745d9d6/node /tmp/vscode-remote-containers-64cd7dc9-c1b9-47c2-821e-1891b2de5803.js git-credential-helper $*; }; f"
